{% load static %}
<!DOCTYPE html>

<html>
<head>
	<title>Page Create Task</title>
	<script src="{% static 'index.js' %}"></script>
	<link rel="stylesheet" href="{% static 'index.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	
  	
</head>
<body>

	<form method="POST" action="create" enctype="multipart/form-data">
		{% csrf_token %}


<!-- 	name task -->
<div class="input-group">
		<label for="nameTask">Name Task:	</label>
	<input type="text" name="nameTask">
	<br>
</div>
<!-- 	data task -->
<div class="form-group">
		<label for="dataTask">Data Task:	</label>
	<textarea name="dataTask"  style="resize: none;"></textarea>
	<br></div>
<!-- file task -->
<div class="form-group">
		<label for="fileTask">File:	</label>
	<input type="file" name="fileTask" >
	<br></div> 
<!-- 	date end task -->
<div class="form-group">
		<label for="endDate">Date finish date:	</label>
	<input type="datetime-local" name="endDate" >
	<br></div>
<div>
<!-- 	task is important or not -->
	<label for="isImportant">Important:	</label>
	<input type="checkbox" name="isImportant">

	<br></div>
<div class="form-group">
<!-- 	email user do task -->
		<label for="emailUSer">Email:	</label>
	<input type="text" name="emailUSer">
	<br></div>
<div class="form-group">
<!-- 	phone user do task -->
			<label for="phoneUser">Phone:	</label>
	<input type="text" name="phoneUser">
	<br></div>
<div class="form-group">
<!-- 	note user create -->
			<label for="note">Note:	</label>
	<textarea name="note"  style="resize: none;">
	</textarea>
	<br></div>
<ul class="notifications"></ul>
<div class="buttons">
    <button type="submit" class="btn" id="success" onclick="myFunction()">Create</button>
</div>
<div>
	<a href="list-task">List Task Created</a><br>
	<a href="/list-task-done">List Task Done</a><br>
	<a href="/">Home</a></div>

	 {% if user.is_authenticated %}
    <h1>User: {{user.username}}</h1>
      {% csrf_token %}
    <a href="logout">Log Out</a><br>      
<!--  nếu user chưa log in -->
  {% else %}
      {% csrf_token %}
      <h2><a href="login">{{login}}</a></h2><br>      
  {% endif %}

	</form>

<!--     <div class="buttons">
      <button class="btn" id="success">Success</button>
      <button class="btn" id="error">Error</button>
      <button class="btn" id="warning">Warning</button>
      <button class="btn" id="info">Info</button>
    </div> -->
{% comment %}
	thông báo tạo task
{% endcomment %}
	<h1>{{temp}}</h1>
<h1></h1>
</body>
</html>