<!DOCTYPE html>
<html>
<head>
	<title>Page Create Task</title>
</head>
<body>
	<form>
<!-- 	name task -->
		<label for="nameTask">Name Task:	</label>
	<input type="text" name="nameTask">
	<br>
<!-- 	data task -->
		<label for="dataTask">Data Task:	</label>
	<textarea name="dataTask"></textarea>
	<br>
<!-- 	date end task -->
		<label for="endDate">Date finish date:	</label>
	<input type="date" name="endDate" >
	<br>
<!-- 	task is important or not -->
	<label for="isImportant">Important:	</label>
	<input type="checkbox" name="isImportant">

	<br>
<!-- 	email user do task -->
		<label for="emailUSer">Email:	</label>
	<input type="text" name="emailUSer">
	<br>
<!-- 	phone user do task -->
			<label for="phoneUser">Phone:	</label>
	<input type="text" name="phoneUser">
	<br>
<!-- 	note user create -->
			<label for="note">Note:	</label>
	<textarea name="note">
	</textarea>
	<br>
	<input type="submit" value="Submit"><br>
	<a href="listTask">List Task Created</a>
	</form>
</body>
</html>