<!DOCTYPE html>
<html>
<head>
	<title>Page Detail Task _nameTask</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<form method="POST">
		{% csrf_token %}
	<div name= "detail">
		
		<label>Name Task: {{nameTask}}</label> <br>
		<label>Datail Task: {{dataTask}}</label> <br>
		<label>Date Create: {{startDate}}</label> <br>
		<label>Date End Task: {{endDate}}</label> <br>

		{% if isImportant == True %}
			<label>Important: Yes</label> <br>
		{% endif %}

		<label>Note: {{note}}</label> <br>
		
		<button type="submit" name="taskDone" value="Done">Done</button><br>
		<a href="/">Home</a><br>
		<a href="/listTaskDone">List Task Done</a><br>
		<a href="/editTask/{{id}}">Edit</a>	
	</div>
	</form>
<!-- 	<h1>Temp : {{temp}}</h1> -->
</body>
</html>