<!DOCTYPE html>
<html>
<head>
	<title>Page Detail Task _nameTask</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
		<form method="POST">
		{% csrf_token %}


<!-- 	name task -->
<div class="input-group">
		<label for="nameTask">Name Task:	</label>
	<input type="text" name="nameTask" value="{{nameTask}}">
	<br>
</div>
<!-- 	data task -->
<div class="form-group">
		<label for="dataTask">Data Task:	</label>
	<textarea name="dataTask"  style="resize: none;" >{{dataTask}}</textarea>
	<br></div>
<!-- 	date end task -->
<div class="form-group">
		<label for="endDate">Date finish date:	</label>
	<input type="datetime-local" name="endDate" min="{{endDate}}"  max="">
	<br></div>
<div>
<!-- 	task is important or not -->
	<label for="isImportant">Important:	</label>
	{% if isImportant == True %}
		<input type="checkbox" name="isImportant" checked="">
	{% else %}
		<input type="checkbox" name="isImportant" >
	{% endif %}
	<br></div>
<div class="form-group">
<!-- 	email user do task -->
		<label for="emailUSer">Email:	</label>
	<input type="text" name="emailUSer" value="{{emailUser}}">
	<br></div>
<div class="form-group">
<!-- 	phone user do task -->
			<label for="phoneUser">Phone:	</label>
	<input type="text" name="phoneUser" value="{{phoneUser}}">
	<br></div>
<div class="form-group">
<!-- 	note user create -->
			<label for="note">Note:	</label>
	<textarea name="note"  style="resize: none;">{{note}}
	</textarea>
	<br></div>
<div class="form-group">
	<input type="submit" value="Edit"><br></div>
<div>
	<a href="listTask">List Task Created</a><br>
	<a href="/listTaskDone">List Task Done</a><br>
	<a href="/">Home</a></div>
	</form>

</body>
</html>