{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
	<script src="{% static 'index.js' %}"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<form method="POST" action="register">
		{% csrf_token %}
		<label for="user">User: </label>
		<input type="text" name="user" value=" ">
		<br>

		<label for="pass">Password: </label>
		<input type="password" name="pass" id="pass" value="">
		<br>

		<label for="pass2">Re-password: </label>
		<input type="password" name="pass2" id="pass2">
		<br>
<!-- 		hide - show password -->
		<input type="checkbox" name="" onclick="show_hide_pass()">Show Password</input>
		<br>

		<input type="submit" name="submit" value="Submit">
	</form>


	<a href="/">Home</a>
	<h1>Messages: {{message}}</h1>
<script>
	// hàm hiển thị hoặc ẩn của password
function show_hide_pass(){
		var id_pass = document.getElementById('pass');
		var id_pass2 = document.getElementById('pass2');


		if(id_pass.type === "password" ){
			id_pass.type = "text";
			id_pass2.type = "text";
		}
		else{
			id_pass.type = "password";
			id_pass2.type = "password";
		}
	}
</script>	

</body>
</html>