
<!DOCTYPE html>
<html>
<head>
	<title>Page Task Done</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h2 style="background-color: yellow">{{temp}}</h2>
	{% for task in task_status %}
	<div>
		<label>
			Name task : {{task.name}}	
		</label><br>
		<label>
			Data task : {{task.data}}	
		</label><br>
		<label>
			Day end : {{task.finish}}
		</label><br>
		<!-- 	button undone -->
	<form method="POST">
		{% csrf_token %}
		<button type="submit" name="nameTask" value="{{task}}">Undone</button>
	</form>
	</div><br>
	{% endfor %}
	<a href="/">Home</a>
</body>
</html>