{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Page Task Done</title>
	<script src="{% static 'index.js' %}"></script>
	<link rel="stylesheet" href="{% static 'index.css' %}">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h2 style="background-color: yellow">{{temp}}</h2>
	{% for task in task_status %}
	<div>
		<label>
			Name task : {{task.name}}	
		</label><br>
		<label>
			Data task : {{task.data}}	
		</label><br>
		<label>
			Day end : {{task.finish}}
		</label><br>
		<!-- 	button undone -->
	<form method="POST">
		{% csrf_token %}
		<ul class="notifications"></ul>
		<div class="buttons">
    	<button type="submit" class="btn" id="success" onclick="myFunction()" name="nameTask" value="{{task.id}}">Undone</button>
		</div>
		
	</form>
	</div><br>
	{% endfor %}
	<a href="/">Home</a>
</body>
</html>