{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Test Page</title>
	<script src="{% static 'index.js' %}"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% if user.is_authenticated %}
		<h1>Hello {{user.username}}. You are loginning! </h1>
			{% csrf_token %}
		<a href="logout">Log Out</a>			
<!-- 	nếu user chưa log in -->
	{% else %}
		<h1>Hello guy. Please login page!</h1>
			{% csrf_token %}
			<a href="login">Log In</a>			
	{% endif %}
<!-- 	<h1>HELLO</h1>
	<div id="temp">HELLO EVERYBODY</div>
	<ul class="notifications1"></ul>
    <div class="buttons">
      <button class="btn" id="success">Success</button>
      <button class="btn" id="error">Error</button>
      <button class="btn" id="error">HELLO</button>
    </div>
    <form method="POST" action="test">
		{% csrf_token %}
	<label for="type">Choose type task:</label>
	<select name="type">
	  <option value="doing" >Task in processing</option>
	  <option value="donot" >Tastk do not finish</option>
	</select><br>
	<button type="submit">Submit</button>
	</form> }-->
	<form method="POST" action="register">
		{% csrf_token %}
		<label for="user">User: </label>
		<input type="text" name="user">
		<br>

		<label for="pass">Password: </label>
		<input type="password" name="pass" id="pass">
		<br>

		<label for="pass2">Re-password: </label>
		<input type="password" name="pass2" id="pass2">
		<br>
<!-- 		hide - show password -->
		<input type="checkbox" name="" onclick="show_hide_pass()">Show Password</input>
		<br>

		<input type="submit" name="submit" value="Submit">
	</form>

	<form method="POST">
		{% csrf_token %}
		<button type="submit" name="status" value="undone">Undone</button>
	</form>

	<a href="/">Home</a>
	<h1>Temp: {{temp}}</h1>
	<textarea rows="20" cols="100">{{temp}}</textarea>

	<form method="POST" action="download">
		{% csrf_token %}
		<label for="myfile">Upload file :</label>
		<input type="file" name="myfile">		
	</form><br>

<!-- 	form download file -->
	<form method="GET" action="download">
		<a href="download">Download url: download/{{ temp.file }}</a>
		<button type="submit" name="download" value="{{temp.file}}">Download</button>
	</form>


<script>
	// hàm hiển thị hoặc ẩn của password
function show_hide_pass(){
		var id_pass = document.getElementById('pass');
		var id_pass2 = document.getElementById('pass2');


		if(id_pass.type === "password" ){
			id_pass.type = "text";
			id_pass2.type = "text";
		}
		else{
			id_pass.type = "password";
			id_pass2.type = "password";
		}
	}
</script>	

</body>
</html>